body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*  RATIOS  */
/* ======== */


.ratio-carousel {
    padding-top: calc(440 / 768 * 100%);
}

.ratio-carousel-alt-a {
    padding-top: calc(440 / 779 * 100%);
}

.ratio-carousel-alt-b {
    height: 100%;
}

/*.ratio-carousel-alt-b is same as carousel*/

.ratio-hero-brand {
    padding-top: calc(440 / 780 * 100%);
}

.ratio-hero-brand-slim {
    padding-top: calc(300 / 848 * 100%);
}

.ratio-merchandising {
    padding-top: calc(316 / 1280 * 100%);
}

.aspect-holder {
    width: 60%;
}

.aspect-holder-full {
    width: 60%;
}

/* =============================== */
/*  BACKGROUNDS IMAGES AND TIMING  */
/* =============================== */

/*https://sapientnyc.github.io/img/bg-carousel.png*/

.bg-full-carousel {
    background: url(https://sapientnyc.github.io/img/bg-carousel.png) no-repeat center;
    background-size: contain;
}

.bg-carousel-alt-a  {
    background: url(https://sapientnyc.github.io/img/bg-carousel-alt-a.png) no-repeat center;
    background-size: contain;
}

.bg-carousel-alt-b  {
    background: url(https://sapientnyc.github.io/img/bg-carousel-alt-a.png) no-repeat center;
    background-size: cover;
}

.bg-hero-brand {
    background: url(https://sapientnyc.github.io/img/bg-hero-brand.png) no-repeat center;
    background-size: contain;
}

.bg-hero-brand-slim {
    background: url(https://sapientnyc.github.io/img/bg-hero-brand-slim.png) no-repeat center;;
    background-size: contain;
}

.bg-merchandise {
    background: url(https://sapientnyc.github.io/img/bg-merch.png) no-repeat center;;
    background-size: contain;
}


/* ========= */
/*  BUTTONS  */
/* ========= */

.button-ghost {
    color: #fff;
    border: 1px solid #fff;
    padding: .85rem 1rem;
    border-radius: 3px;
    margin-top: 25px;
}

.button-secondary {
    color: #003BDE;
    display: inline-block;
    border: 1px solid #003BDE;
    padding: .85rem 1rem;
    border-radius: 3px;
}
.button-wrapper {
    margin-top: 25px;
    width: 70%;
}

/* =============== */
/*  PANEL RELATED  */
/* =============== */

.panel-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
}

.panel-alt-b {
    padding: 5% 0;
}

.panel-hero {
    background-color: #1D284F;
    min-width: 33.75%;
}

.panel-only-logo {
    background-color: #F2F1F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-logo {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    height: 100%;
    border: 1px solid #D0021B;
}

.carousel-bg {
    position: relative;
}

.bg-carousel-panel {
    background: transparent;
}

.gradient-light-grays {
    background-image: linear-gradient(to top, #eaf5fc 0%, #f3f8ff 100%);
}

.spacer {
    width: 2rem;
    height: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    margin: 0 auto;
    max-width: 1280px;
}

.wrap-banner {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 35px auto;
}

.panel-heading {
    font-size: 28px;
    font-weight: 400;
    max-width: 380px;
    width: 70%;
}

.panel-text {
    font-size: 16px;
    font-weight: 300;
    padding: .25rem 1.75rem;
    max-width: 70%;
    margin: 0 auto;
    text-align: centlefter;

}

.logo-responsive {
    max-width: 200px;
    transition: .12s all ease-in
}

.panel-breaker-mid {
    height: 40px;
}

.info-text-heading {
    font-weight: 800;
    color: #3f3f3f;
    font-size: 27px;
    text-align: left;
    padding-top: 30px;
}

.info-text {
    font-weight: 300;
    color: #111111;
    font-size: 14px;
    text-align: left;
}

.info-block {
    margin: 35px auto;
    padding: 25px 0;
    text-align: left;
}


.full-desktop-img {
    width: 100%;
    height: auto;
    display: block;
}

.full-mobile-img {
    width: 100%;
    height: auto;
    display: none;
}

.inline-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel-carousel-full  {
    width: 40%;
}



/* ================== */
/*  960 - BREAKPOINT  */
/* ================== */

@media screen and (max-width: 960px) {

    .panel-carousel-full {
        min-width: 40%;
        max-width: 40%;
    }

    .logo-responsive {
        max-width: 125px;
    }

    .panel-breaker-mid {
        height: 20px;
    }

    .panel-text {
        font-size: 14px;
    }

    .panel-heading {
        font-size: 24px;
    }


    .button-ghost {
        color: #fff;
        border: 1px solid #fff;
        padding: .5rem .8rem .6rem;
        border-radius: 3px;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: .8rem;
    }

    .button-secondary {
        color: #003BDE;
        border: 1px solid #003BDE;
        padding: .5rem .8rem .6rem;
        border-radius: 3px;
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: .8rem;
    }
}





/* ================== */
/*  720 - BREAKPOINT  */
/* ================== */

@media screen and (max-width: 780px) {


    .bg-carousel-bad-ex {
        background-size: auto 100%;
        background-position: right;
        height: 78px;
    }

    .bg-hero-slim:hover {
        background: yellow;
        transition: .12s all ease-in;
        background: url(https://sapientnyc.github.io/img/bg-edit-desert.png) no-repeat center;
        padding-top: calc(300 / 848 * 107%);
        background-size: cover;
    }

    .panel-breaker-mid {
        height: 10px;
    }

    .logo-responsive {
        max-width: 100px;
    }


    .wrap-banner {
        flex-direction: column-reverse;
        background: none;
    }

    .panel-banner {
        width: 100%;
    }

    .panel-carousel-full  {
        position: relative;
        z-index: 2;
        height: 100%;
        min-width: 100%;
    }

    .panel-heading,
    .panel-text {
        text-align: center;
    }

    .button-wrapper {
        width:auto;
    }


    .aspect-holder,
    .aspect-holder-full {
        max-width: 100%;
        width: 100%;

        background-position: right top;
        background-size: 167% auto;
        background-image: url(https://sapientnyc.github.io/img/bg-carousel.png);
        background-repeat: no-repeat;
    }

    .ratio-carousel-alt-b {
        padding-top: calc(440 / 779 * 100%);
    }

    .panel-carousel .panel-banner .panel-hero .panel-only-logo {
        background-color: #efecff;
        min-width: 100%;
        max-width: 100%;
    }

    .panel-carousel {
        width: 100%;
        padding: 10px 0;
        background: #ffffff;
    }

    .bad-carousel-patch {
        background-position: top;
    }

    .panel-only-logo {
        min-height: 170px;
    }

    .wrapper {
        max-width: 90%;
        margin: 0 auto;
    }

    .panel-text {
        font-size: 14px;
        padding-bottom: 20px;
    }

    .full-desktop-img {
        width: 100%;
        height: auto;
        display: none;
    }

    .full-mobile-img {
        width: 100%;
        height: auto;
        display: block;
    }

    .full-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .info-text-heading {
        font-weight: 800;
        color: #3f3f3f;
        font-size: 24px;
        text-align: center;
        padding-top: 20px;
    }

    .info-text {
        font-weight: 300;
        color: #111111;
        font-size: 14px;
        text-align: center;
    }

}


/*UTILS*/













